@import url("basic.css");

.content {
    width: 80%;
    overflow: auto;
    margin: 10px 0 0 50px;
}

header {
    background: #333;
    color: #fff;
}

header h1 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    height: 4em;
    line-height: 4em;
}

h2 {
    font-size: 25px;
    margin-top: 2em;
    margin-bottom: 1em;
}

ul li {
    list-style:none;
    text-indent: 2em;
    position:relative;
}

ul li:before {
    content: "■";
    color:#108D2E;
    position:absolute;
    left: -15px;
    top: -2px;
}

/* sidebar */
.user {
    position: absolute;
    right: 0;
    top: 200px;
    width: 20%;
    height: 50%;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.avatar {
    width: 120px;
    position: absolute;
    left: 25%;
    top: 20%;
    z-index: 100;
}

.avatar img {
    border-radius: 50%;
    cursor: pointer;
}

.avatar {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 10000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 10000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 10000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes spin {
    10% { -webkit-transform: rotate(0deg); }
    30% { -webkit-transform: rotate(360deg); }
    100%{ -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    10% { -webkit-transform: rotate(0deg); }
    30% { -webkit-transform: rotate(360deg); }
    100%{ -webkit-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    10% { -webkit-transform: rotate(0deg); }
    30% { -webkit-transform: rotate(360deg); }
    100%{ -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    10% { -webkit-transform: rotate(0deg); }
    30% { -webkit-transform: rotate(360deg); }
    100%{ -webkit-transform: rotate(360deg); }
}
