@import url("basic.css");

.content {
    width: 80%;
    overflow: auto;
    margin: 10px 0 0 50px;
}

header {
    margin-bottom: 50px;
}

h2 {
    margin-top: 2em;
}

ul li {
    list-style:none;
    text-indent: 2em;
    position:relative;
}

ul li:before {
    content: "■";
    color:#108D2E;
    position:absolute;
    left: -15px;
    top: -2px;
}

/* sidebar */
.user {
    position: absolute;
    right: 0;
    top: 200px;
    width: 20%;
    height: 50%;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.avatar {
    width: 120px;
    position: absolute;
    left: 25%;
    top: 20%;
    z-index: 100;
}

.avatar img {
    border-radius: 50%;
    cursor: pointer;
}
