
::selection {
    background: #108D2E;
    color: #fff;
}
::-moz-selection {
   background: #108D2E;
   color: #fff;
}

body, h2, ul, li, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: #f6f6f6;
    line-height: 1.2;
}

h2 {
    font-family: Graduate, Georgia,Cambria,"Times New Roman",Times,serif;
}

li, p, pre, code {
    font-family: Numans, Georgia,Cambria,"Times New Roman",Times,serif;
}

li {
    margin: 10px;
}


p {
    font-size: 18px;
    line-height: 1.45;
    font-weight: 400;
}

/*pre {
    line-height: 20px;
    background: #333;
    font-size: 13px;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}*/

article, header {
    background: #fff;
    box-shadow: 2px 0 4px rgba(100,100,100,0.1);
    padding: 10px 50px;
}

/*
 progress bar
*/
.progressbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.progress {
    background: #108D2E;
    height: 100%;
    width: 0;
    -webkit-transition: width 0.8s;
    -moz-transition: width 0.8s;
    -ms-transition: width 0.8s;
    -o-transition: width 0.8s;
    transition: width 0.8s;
}

/*
    http://tympanus.net/codrops/2013/08/09/building-a-circular-navigation-with-css-transforms/
    circular-navigation
*/

#nav {
    position: absolute;
    z-index: 99;
    width: 16em;
    height: 16em;
    opacity: 0;
    border-radius: 50%;
    background: transparent;
    overflow: hidden;
    -webkit-transition: all .3s ease .3s;
    -moz-transition: all .3s ease .3s;
    transition: all .3s ease .3s;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    pointer-events: none;
}

#nav.on {
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    pointer-events: auto;
}

#nav:after {
    content: ".";
    color: red;
    position: absolute;
    border-radius: 50%;
    font-size:2em;
    top: 50%;
    left: 50%;
}

#nav ul {
    list-style: none;
}

#nav li {
    padding: 0px;
    margin: 0;
    position: absolute;
    width: 8em;
    height: 9em;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: rotate(60deg) skew(30deg);
    -moz-transform: rotate(60deg) skew(30deg);
    -ms-transform: rotate(60deg) skew(30deg);
    transform: rotate(60deg) skew(30deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    pointer-events: none;
}

#nav.on li {
    -webkit-transition: all .3s ease .3s;
    -moz-transition: all .3s ease .3s;
    transition: all .3s ease .3s;
}

#nav.on li:first-child {
    -webkit-transform: rotate(-10deg) skew(30deg);
    -moz-transform: rotate(0deg) skew(30deg);
    -ms-transform: rotate(0deg) skew(30deg);
    transform: rotate(0deg) skew(30deg);
}

#nav.on li:nth-child(2) {
    -webkit-transform: rotate(60deg) skew(30deg);
    -moz-transform: rotate(60deg) skew(30deg);
    -ms-transform: rotate(60deg) skew(30deg);
    transform: rotate(60deg) skew(30deg);
}

#nav.on li:nth-child(3) {
    -webkit-transform: rotate(130deg) skew(30deg);
    -moz-transform: rotate(120deg) skew(30deg);
    -ms-transform: rotate(120deg) skew(30deg);
    transform: rotate(120deg) skew(30deg);
}

#nav li a {
    position: absolute;
    top: 1em;
    width: 16em;
    height: 16em;
    line-height: 2;
    display: block;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    -webkit-transform: skew(-30deg) rotate(-60deg) scale(1);
     -moz-transform: skew(-30deg) rotate(-60deg) scale(1);
    -ms-transform: skew(-30deg) rotate(-60deg) scale(1);
    transform: skew(-30deg) rotate(-60deg) scale(1);
    -webkit-backface-visibility: hidden;
    pointer-events: auto;
}

#nav li:nth-child(odd) a {
    background-color: #52be7f;
}

#nav li:nth-child(even) a {
    background-color: #429a67;
}

#nav li a span {
    position: relative;
    top: .8em;
    font-size: 1em;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}
