body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 80%;
    margin: 0 auto;
}

li {
    list-style: none;
    line-height: 3;
    font-size: 1.5em;
    vertical-align: middle;
    padding: 5px 20px;
    border-radius: 5px;
}

li:before {
    content: "■";
    color: #108D2E;
    margin-right: 5px;
}


strong {
    background: #108D2E;
    color: #fff;
    padding: 0 5px;
    cursor: pointer;
    position: relative;
}

strong:after {
    content: attr(data-explanation);
    position: absolute;
    display: none;
    top: 2.2em;
    left: -25%;
    width: 10em;
    text-align: center;
    line-height: 2em;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 0.8em;
    z-index: 10;
    border-color: transparent;
}

strong:before {
    content: "";
    position: absolute;
    top: 1.2em;
    left: 2em;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
    display: none;
}

strong:hover:before, strong:hover:after {
    display: block;
}
