body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 80%;
    margin: 0 auto;
}

li {
    list-style: none;
}

li:before {
    content: "■";
    color: #108D2E;
    margin-right: 5px;
}

li p:first-child {
    font-size: 1.3em;
    height: 3em;
    line-height: 3;
    font-size: 1.5em;
    vertical-align: middle;
    padding: 5px 20px;
    border-radius: 5px;
    display: inline;
}

strong {
    background: #108D2E;
    color: #fff;
    padding: 0 5px;
    cursor: pointer;
}

strong:after {
    content: attr(data-explanation);
    position: absolute;
    top: -2.5em;
    left: -25%;
    width: 8em;
    text-align: center;
    line-height: 2em;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    border-radius: 5px;
    padding: 2px 10px;
}