<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{=title}}</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Graduate|Numans">
    <link rel="stylesheet" type="text/css" href="/assets/style/prism.css">
    <link rel="stylesheet" type="text/css" href="/assets/style/site.css">
    <link href="/assets/lib/polymer/polymer.html" rel="import">
    <link href="/assets/elements/x-menu.html" rel="import">
    <link href="/assets/elements/x-table-of-content.html" rel="import">
    <link href="/assets/elements/x-loadingbar.html" rel="import">
    <link href="/assets/elements/x-progressbar.html" rel="import">
    <link href="/assets/elements/x-go-top.html" rel="import">
    <script src="/assets/lib/platform/platform.js" defer></script>
    <script src="/assets/js/prism.js" defer></script>
  </head>
  <body>
    <x-loadingbar class="page-loading"></x-loadingbar>
    <x-menu></x-menu>
    <div class="content">
      <h1 class="header">{{=title}}</h1>
      <x-table-of-content root=".article" scroll=".content"></x-table-of-content>
      <article class="article single-column">
        <div class="wrap">
          {{-content}}  
        </div>
      </article>
    </div>
    <x-progressbar root=".content"></x-progressbar>
    <x-go-top root=".content"></x-go-top>
  </body>
</html>