<!DOCTYPE html>
<html>
    <head>
        <title>文章列表</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Graduate|Numans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/assets/style/site.css">
        <link rel="stylesheet" type="text/css" href="/assets/style/list.css">
        <link rel="import" href="/assets/lib/polymer/polymer.html">
        <link rel="import" href="/assets/elements/x-menu.html">
        <link rel="import" href="/assets/elements/x-go-top.html">
        <script src="/assets/lib/platform/platform.js" defer></script>
    </head>
    <body>
        <x-menu></x-menu>
        <div class="content">
            <h1 class="header">Articles List</h1>
            <article class="article">
                <% for(var key in list) { %>
                    <section>
                        <h2><%=key%></h2>
                        <ul>
                        <% var k = list[key]; if(k) { %>
                            <% for(var i = 0, len = k.length; i < len; i++) { %>
                                <li><a href="<%= k[i].filename %>.html"><%= k[i].title %></a></li>
                            <% } %>
                        <% } %>
                        </ul>
                    </section>
                <% } %>
            </article>
        </div>
        <x-go-top root=".content"></x-go-top>
    </body>
</html>
